<nav class="navbar navbar-expand-md navbar-light bg-light mb-5">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Recipe Book</a>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/recipes" class="nav-link">Recipes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/shopping-list" class="nav-link">Shopping List</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a routerLink="/auth" class="nav-link">Authenticate</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-5">
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" role="button" appDropdown>Manage</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <a class="nav-link" (click)="saveRecipes()">Save Data</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link" (click)="fetchRecipes()">Fetch Data</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>