.list-group-item {
    padding: 0;
    
}

.card {
    background: transparent;

    &:hover {
        cursor: pointer;
    }
}

.card-img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}