<div class="row">
    <div class="col">
        <a [routerLink]="['new']" class="btn btn-success">New Recipe</a>
    </div>
</div>

<hr>

<div class="row">
    <div class="col">
        <div class="list-group">
            <a
                *ngFor="let recipeEl of recipes; let i = index" 
                class="list-group-item list-group-item-action"
                [routerLink]="i" routerLinkActive="active">
                <app-recipe-item 
                    [recipe]="recipeEl"
                    [id]="i">
                </app-recipe-item>
            </a>
        </div>
    </div>
</div>